.search-bar {
    position: relative;
    max-width: 336px;
}

.input {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    width: 336px;
    height: 31px;
    border: 0;
    outline: none;
    padding: 0 50px 0 20px;
    font-size: 13px;
    font-weight: 400;
}
.input::placeholder {
    color: #9B9B9B;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.button {
    background-image: linear-gradient(180deg, #00B286 0%, #0081A7 100%);
    border-radius: 100%;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}