<div class="search-bar">
  <input
      class="input"
      type="text"
      name=""
      id=""
      placeholder="Digite qualquer coisa da tabela"
  />
  <button class="button">
    <img class="icon" src="assets/icon/ic_search_24px.svg" alt="Ícone busca">
  </button>
</div>