<app-page class="inner-page">
  <aside class="sidebar">
    <app-main-sidebar></app-main-sidebar>
  </aside>
  <div class="stage">
    <header>
      <app-inner-page-header></app-inner-page-header>
    </header>
    <main class="content">
      <div class="grid-container">
        <ng-content></ng-content>
      </div>
    </main>
    <footer>
      <app-inner-page-footer></app-inner-page-footer>
    </footer>
  </div>
</app-page>
