.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.user {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #4A4A4A;
}

.icon {
    margin-right: 10px;
}

.name {
    font-size: 14px;
    font-weight: 500;
}