<app-header>
  <div class="grid-container container">
    <div class="user">
      <img class="icon" src="assets/icon/ic_person.svg" alt="Ícone Pessoa">
      <div class="name">Manoel Neto</div>
    </div>
  </div>
</app-header>