*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color-font);
    font-size: 14px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    color: #3C3C3C;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 43px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}