.table-default {
    border-collapse: collapse;
    width: 100%;
}

.table-default tbody {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.table-default th,
.table-default td {
    padding: 18px;
}

.table-default th {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
}

.table-default td {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    background-color: #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table-default > tbody > tr:last-child td {
    border-bottom: none;
}

