<div class="grid-container">
  <app-footer>
    <div class="flex">
      <div class="disclaimer">Atlas Quantum @ 2018. All rights reserved</div>
      <div class="social-media">
        <a href="" target="_blank"><img src="assets/icon/ic_facebook.svg" alt=""></a>
        <a href="" target="_blank"><img src="assets/icon/ic_twitter.svg" alt=""></a>
        <a href="" target="_blank"><img src="assets/icon/ic_instagram.svg" alt=""></a>
        <a href="" target="_blank"><img src="assets/icon/ic_youtube.svg" alt=""></a>
      </div>
    </div>
  </app-footer>
</div>