.sidebar-button {
    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 100%;
    display: block;
    position: relative;
    transition: all .2s;
}

.sidebar-button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

.icon,
.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
    margin-top: 3px;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
}

.label {
    color: #00A685;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    left: 78px;
    margin-top: 1px;
}