/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* App Styles */
@import 'styles/defaults.css';
@import 'styles/text.css';
@import 'styles/grid.css';
@import 'styles/table.css';

:root {
    --color-bg: #EDF3F0;
    --color-font: #3C3C3C;
    --header-height: 65px;
}

