<app-inner-page>
  <h1>Lucros</h1>
  <p>Relatório de distribuição de lucro</p>
  <div class="box">
    <app-box>
      <app-search-bar class="search-bar"></app-search-bar>
      <h3>Distribuição de lucro (último mês)</h3>
      <p></p>
      <table class="table-default">
        <thead>
        <tr>
          <th>Data</th>
          <th class="text-center">Moeda</th>
          <th class="text-center">Rendimento</th>
          <th class="text-center">%</th>
          <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="(profits$ | async) as profits; else loading">
          <tr profitRow *ngFor="let profit of profits">
            <td>
              <app-date [date]="profit.date"></app-date>
            </td>
            <td class="text-center">{{profit.profit.type}}</td>
            <td class="text-center">
              <app-currency [coin]="profit.profit"></app-currency>
            </td>
            <td class="text-center">{{profit.profitPercentage}}%</td>
            <td>
              <app-currency [coin]="profit.calcBalance()"></app-currency>
            </td>
          </tr>
        </ng-container>
        <ng-template #loading>
          <td loading colspan="5">Carregando informações...</td>
        </ng-template>
        </tbody>
      </table>
    </app-box>
  </div>
</app-inner-page>