<div class="sidebar">
  <div class="sidebar_header">
    <img
        src="assets/logo_atlas_horizontal-white.svg"
        class="sidebar_logo"
        alt="Logo Atlas Quantum "
    />
  </div>
  <ng-content></ng-content>
</div>
