.sidebar {
    padding: 0 20px;
    height: 100%;
    background-image: linear-gradient(180deg, #00B286 0%, #0081A7 100%);
}

.sidebar_header {
    height: 65px;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.sidebar_header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 100%;
}

.sidebar_logo {
    margin-top: 14px;
}

.sidebar_break-line {
    background-color: rgba(255, 255, 255, 0.3);
    width: 253px;
    height: 1px;
}